@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* Help page to display tips and tricks
*
* @param helpKeys the list of hel keys
* @param user the user profile data
*
* @author Fabian Gilson
* @author Martin Rouffiange
*@


@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.presentation.web.views.html.main
@import be.webdeb.presentation.web.views.html.util.helpContent

@(
    helpKeys : java.util.List[String],
    user : WebdebUser
)

@scripts = {
  <title>@Messages("help.title") @Messages("general.metatitle")</title>
  <meta name="description" content="@Messages("help.desc")">

  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">

}

@menuLink(name : String) = {
    <li><a href="#help-@name">@Messages("help.title." + name)</a></li>
}

@main(user, scripts) {

  <div class="container mt-3 mb-3">
    <div class="row">
      <div class="col-12">
        <h3 class="small-caps text-muted">@Messages("help.title")</h3>
        <hr>
      </div>

      <div class="col-12">
        <h3>@Messages("help.desc")</h3>

        <ol id="help-menu-links">
          @for(a <- helpKeys) {
            @menuLink(a)
          }
        </ol>

        @for((a, index) <- helpKeys.zipWithIndex) {
              @helpContent(a, index+1, false)
          }

      </div>
    </div>
  </div>
}
