@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* Partial page with all fields to encode/update a tag into the knowledge base
*
* @param tagForm the form that holds the tag values
* @param helper helper class to fetch predefined values from (types, ...)
* @param user the user profile
* @param map the message map to display (if any)
*
* @author Martin Rouffiange
*@

@import be.webdeb.presentation.web.controllers.entry.ContributionHelper
@import be.webdeb.presentation.web.controllers.entry.tag.TagForm
@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.core.api.contributor.EContributorRole
@import be.webdeb.presentation.web.views.html.entry.tag.tagSimpleDiv
@import be.webdeb.presentation.web.views.html.util.{bootstrapInput, hiddenField, hiddenFormField}
@import helper._

@import be.webdeb.presentation.web.views.html.util.form.entryFlexFormGroup
@import be.webdeb.presentation.web.views.html.util.form.mapErrors

@import be.webdeb.presentation.web.views.html.util.form.selectInput
@import be.webdeb.presentation.web.views.html.util.form.textInput
@import be.webdeb.core.api.tag.ETagType
@(
        tagForm: Form[TagForm],
        helper : ContributionHelper,
        user : WebdebUser,
        map : java.util.Map[String, String]
)

@implicitFieldConstructor = @{ FieldConstructor(bootstrapInput.render) }

@prependInput() = {
    <div class="input-group-prepend d-none d-md-block">
        <div class="input-group-text">@Messages("entry.citation.tags.tag.label")</div>
    </div>
}

@appendInput() = {
    <div class="input-group-append">
        <div class="input-group-text">?</div>
    </div>
}

<fieldset>
    @hiddenFormField(tagForm("id"))
    @hiddenFormField(tagForm("contributor"))
    @hiddenFormField(tagForm("lang"))
    @hiddenFormField(tagForm("version"))
    @hiddenFormField(tagForm("inGroup"))
    @hiddenFormField(tagForm("isNotSame"))
    @hiddenFormField(tagForm("tagType"))
    @hiddenFormField(tagForm("contextId"))
    @hiddenFormField(tagForm("formTitle"))
    @hiddenField("previousCall", "previousCall", "")

    @if(tagForm("id").value == "-1" && tagForm("tagType").value != ETagType.SIMPLE_TAG.id().toString) {

        <div class="row">
            <div class="col-md-8 input-field tt-all">
                @textInput(
                    tagForm("categoryName"),
                    Messages("tag.label.name.label")
                )
            </div>
        </div>

    } else {
        <div id="tagNames" class="row">

            <label class="col-12 control-label">@Messages("tag.names.title")</label>

            <div class="controls col-12">
            @repeatWithIndex(tagForm("tagNames"), min = 1) { (tagName, i) =>
                @entryFlexFormGroup("tagNames_".concat(i.toString)) {

                    <div class="col-md-4 input-field">
                        @selectInput(
                            tagForm(tagName.name.concat(".lang")),
                            helper.getLanguages(ctx.lang.code),
                            Messages("actor.label.namelang"),
                            Messages("actor.place.namelang")
                        )
                    </div>

                    <div class="col-md-8 input-field">

                        <label class="ml-1 mt-2" for="@tagName.name.concat(".name")">
                            @Messages("tag.label.name.label")
                        </label>

                        <div class="d-block d-md-none">
                            <div class="input-group-text ml-1 mr-1">
                                @Messages("entry.citation.tags.tag.label") :
                            </div>
                        </div>

                        @textInput(
                            tagForm(tagName.name.concat(".name")),
                            null,
                            null,
                            false,
                            null, null, null, null, null, null,
                            if(tagForm("tagType").value != ETagType.SIMPLE_TAG.id().toString){Html("")}else{prependInput()},
                            if(tagForm("tagType").value != ETagType.SIMPLE_TAG.id().toString){Html("")}else{appendInput()}
                        )
                    </div>
                }
                @*
                @mapErrors(tagForm, tagName.name.toString)
                    *@
            }

            </div>
        </div>

      @if(tagForm("id").value != "-1" && tagForm("tagType").value == ETagType.SIMPLE_TAG.id().toString) {

          <hr class="hr-small d-block d-md-none">

          <div id="tagRewordingNames" class="row mt-3">

              <label class="col-12 control-label">@Messages("tag.rewordingnames.title")</label>

              <div class="controls col-12">
                  @repeatWithIndex(tagForm("tagRewordingNames"), min = 1) { (tagName, i) =>
                      @entryFlexFormGroup("tagRewordingNames_".concat(i.toString)) {
                          <div class="col-md-4 input-field">
                              @selectInput(
                                  tagForm(tagName.name.concat(".lang")),
                                  helper.getLanguages(ctx.lang.code),
                                  Messages("actor.label.namelang"),
                                  Messages("actor.place.namelang")
                              )
                          </div>

                          <div class="col-md-8 input-field">

                              <label class="ml-1 mt-2" for="@tagName.name.concat(".name")">
                                @Messages("tag.label.rewordingname")
                              </label>

                              <div class="d-block d-md-none">
                                  <div class="input-group-text ml-1 mr-1">
                                      @Messages("entry.citation.tags.tag.label") :
                                  </div>
                              </div>

                              @textInput(
                                  tagForm(tagName.name.concat(".name")),
                                  null,
                                  null,
                                  false,
                                  null, null, null, null, null, null,
                                  prependInput(),
                                  appendInput()
                              )
                          </div>
                      }

                      @*
                      @mapErrors(tagForm, tagName.name.toString)
                    *@
                  }

              </div>
          </div>

          <hr class="hr-small d-block d-md-none">

          <div class="mt-3">

              @tagSimpleDiv(tagForm, "parents", "tag.parent", false)

              <hr class="hr-small d-block d-md-none mb-4">

              @tagSimpleDiv(tagForm, "children", "tag.child", false)
          </div>
      } else {
          @if(tagForm("tagType").value == ETagType.SIMPLE_TAG.id().toString){
              <div class="d-none">
                  @tagSimpleDiv(tagForm, "parents", "tag.parent", false)
                  @tagSimpleDiv(tagForm, "children", "tag.child", false)
              </div>
          }
      }

    }

</fieldset>