@*
* WebDeb - Copyright (C) <2014-2019> <Université catholique de Louvain (UCL), Belgique ; Université de Namur (UNamur), Belgique>
*
* List of the contributors to the development of WebDeb: see AUTHORS file.
* Description and complete License: see LICENSE file.
*
* This program (WebDeb) is free software:
* you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the
* Free Software Foundation, either version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program (see COPYING file).
* If not, see <http://www.gnu.org/licenses/>.
*@


@*
* Partial page with all fields to encode/update a debate
*
* @param debateForm the form with the debate's details (possibly pre-filled)
* @param helper helper class to fetch predefined values from (countries, genders, types, ...)
* @param user the current user profile
* @param map the message map (may be null)
*
* @author Martin Rouffiange
*@

@import be.webdeb.presentation.web.controllers.entry.ContributionHelper
@import be.webdeb.presentation.web.controllers.entry.debate.DebateForm
@import be.webdeb.presentation.web.views.html.util.{funkyCheckbox, helpbubble, hiddenField, hiddenFormField, helpButton, publishInGroup, inputTitleEnd}

@import be.webdeb.presentation.web.views.html.entry.place.placediv
@import be.webdeb.presentation.web.views.html.entry.picture.picturediv
@import be.webdeb.presentation.web.views.html.entry.tag.tagdiv

@import be.webdeb.presentation.web.views.html.util.form.baseInput
@import be.webdeb.presentation.web.views.html.util.form.checkboxInput
@import be.webdeb.presentation.web.views.html.util.form.textInput
@import be.webdeb.presentation.web.views.html.util.form.urlInput
@import be.webdeb.presentation.web.views.html.util.form.selectInput
@import be.webdeb.presentation.web.views.html.util.form.textareaInput
@import be.webdeb.presentation.web.views.html.util.form.mapErrors
@import be.webdeb.presentation.web.views.html.util.form.entryFlexFormGroup
@import be.webdeb.presentation.web.views.html.util.form.addrmButtons

@import be.webdeb.presentation.web.views.html.util.form.stepform.stepform
@import be.webdeb.presentation.web.views.html.util.form.stepform.stepformOption
@import be.webdeb.presentation.web.views.html.util.form.stepform.stepformOptionChoice
@import be.webdeb.presentation.web.views.html.util.form.stepform.stepformOptionChoices
@import be.webdeb.presentation.web.views.html.util.form.stepform.stepformOptionsChoices

@import be.webdeb.presentation.web.views.html.entry.actor.authorsimplediv
@import be.webdeb.core.api.debate.EDebateType
@import views.html.helper.repeatWithIndex
@import be.webdeb.presentation.web.controllers.permission.WebdebUser
@import be.webdeb.presentation.web.controllers.entry.debate.DebateHolder
@import be.webdeb.presentation.web.views.html.browse.overview.debateOverview
@(
        debateForm: Form[DebateForm],
        candidates : java.util.List[DebateHolder],
        helper : ContributionHelper,
        user : WebdebUser,
        map : java.util.Map[String,String]
)

@*
<div class="row">
    <div class="col-12 d-flex">
        <div class="instructions flex-grow-1">@Messages("general.required.fields")</div>
        @helpButton("entry.debate", false)
    </div>
</div>
*@

<fieldset>

    @* all needed hidden fields *@
    @hiddenFormField(debateForm("id"))
    @hiddenFormField(debateForm("lang"))
    @hiddenFormField(debateForm("version"))
    @hiddenFormField(debateForm("inGroup"))
    @hiddenFormField(debateForm("stepNum"))
    @hiddenFormField(debateForm("pictureString"))
    @hiddenFormField(debateForm("argumentJustificationId"))
    @hiddenField("previousCall", "previousCall", "")

    <div class="step-form-container">

        @stepform(){

            <div class="row">

                <div class="col-md-4">
                    @selectInput(
                        debateForm("shade"),
                        helper.getDebateShades(ctx.lang.code),
                        Messages("debate.standard.shade.label"),
                        Messages("debate.standard.shade.place"),
                        true
                    )
                </div>

                <div class="col-md-8">
                    @textInput(
                        debateForm("title"),
                        Messages("debate.edit.title.label"),
                        null,
                        true,
                        null, null, null, null, null, null, null,
                        inputTitleEnd()
                    )
                </div>
            </div>

            @if(debateForm("id").value == "-1") {
                <div id="is_multiple" class="row" style="display: none">
                    <label class="control-label font-weight-bold col-12">@Messages("debate.type.multiple")</label>
                    <div class="col-12 ml-4">
                    @checkboxInput(
                        debateForm("isMultiple"),
                        Messages("label.yes")
                    )
                    </div>
                </div>
            }

        }

        @stepform(){
            <div class="pt-2 pb-2 pl-3 pr-3">
                <p class="form-question">@Messages("debate.edit.ambiguity.title")</p>

                <div class="pt-2 pb-2 pl-3 pr-3">
                    <div class="form-group">
                        <label for="exampleFormControlSelect2">@Messages("debate.edit.ambiguity.yes.label")</label>

                        @if(candidates != null) {
                            @for(candidate <- candidates) {
                                @debateOverview(candidate, true, true)
                            }
                        }

                    </div>
                </div>

                @stepformOptionChoice(debateForm("hasNoExistingPropositions"), "non", "true", null, null, null, true)
            </div>
        }

        @stepform(){

            @tagdiv(debateForm, "tags", "debate.tags.label", false)

            <hr class="mt-4 mb-4">

            @stepformOptionChoices(debateForm("hasPlaces"), Messages("debate.edit.tags.places.label"), null, "1")

            @stepformOption(debateForm("hasPlaces"), "1"){
                @placediv(debateForm, "text.label.places", false)
            }

            <hr class="mt-4 mb-4">
            @stepformOptionChoices(debateForm("hasCitedactors"), "Le débat porte-t-il sur un ou plusieurs acteurs (individus ou organisations) ?", null, "2")

            @stepformOption(debateForm("hasCitedactors"), "2"){
                 @authorsimplediv(debateForm, "citedactors", null, "text.label.author.place.name")
            }

        }

        @stepform(){
            <div class="pt-2 pb-2 pl-3 pr-3">

                <p class="form-question">@Messages("debate.edit.more.title")</p>

                <label class="control-label" for="description"><li class="ml-4">@Messages("debate.edit.more.description.label")</li></label>
                @textareaInput(
                    debateForm("description")
                )

                <div id="externalUrls" class="row mt-3">

                    <label class="col-12 control-label"><li class="ml-4">@Messages("debate.edit.more.externalurls.label")</li></label>

                    <div class="col-12">
                    @repeatWithIndex(debateForm("externalUrls"), min = 1) { (name, i) =>
                        @entryFlexFormGroup("external_".concat(i.toString.concat("_urls"))) {

                            @hiddenFormField(debateForm(name.name.concat(".idUrl")))

                            <div class="col-lg-6 input-field">
                            @urlInput(
                                debateForm(name.name.concat(".url")),
                                Messages("debate.edit.more.externalurls.url.label"),
                                Messages("debate.edit.more.externalurls.url.place")
                            )
                            </div>
                            <div class="col-lg-6">
                            @textInput(
                                debateForm(name.name.concat(".alias")),
                                Messages("debate.edit.more.externalurls.alias.label"),
                                Messages("debate.edit.more.externalurls.alias.place")
                            )
                            </div>
                        }
                        @mapErrors(debateForm, name.name.toString)
                    }
                    </div>
                </div>


                <div class="form-group mt-3">
                    <label class="col-12 control-label"><li class="ml-3">@Messages("debate.edit.more.image.label")</li></label>

                    @picturediv(debateForm, "pictureForm.filename")
                </div>

            </div>
        }


    </div>

</fieldset>